<div class="container">
	<div class="row">
		<% @genres.each do |genre| %>
			<div class="col-4">
	    		<%= link_to genre_path(genre.id) do %>
	    			<div class=genre-head>
						<h5 class="text-center">
							<%= genre.genre_symbol %>
						</h5>
					</div>
				<% end %>
				<% genre.idea_boards.each_with_index do |idea, i| %>
					<div class="card box">
						<div>
							<div class="card-body">
								<%= link_to idea_board_path(idea) do %>
									<h5 class="box-color"><%= idea.head %></h5>
								<% end %>
							</div>
							<div class="card-body">
								<%= render 'favorites/like_button', idea_board: idea %>
							</div>
							<div class="card-body"> タグ：
								<span class="tag-box">
									<%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
								</span>
							</div>
						</div>
						<div class="row card-body">
								<div class="col-4">
									<div class="text-center">
										<%= attachment_image_tag idea.user, :image, :fill, 75, 75, format: 'jpeg', fallback: "no_image.png", size:'75x75', class: "profile_image" %>
									</div>
									<div class="text-center">
										<%= idea.user.name %>
									</div>
								</div>
								<div class="col-8">
									<div class="card card-body box-color">
										<%= idea.body %>
									</div>
								</div>
						</div>
					</div>
					<% break if i == 4 %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>


