<div class="card-body">
	<%= render 'layouts/flash_messages' %>
</div>

<div class="container" style="margin-top: 20px;">
	<div class="col-12 card card-border shadow" style="margin-bottom: 20px;">
		<div class="row card-body">
			<div class="col-2">
				<div class="text-center">
					<%= attachment_image_tag @user, :image, :fill, 125, 125, format: 'jpeg', fallback: "no_image.png", size:'125x125', class: "profile_image" %>
				</div>
			</div>
			<div class="col-10">
				<div class="row">
					<div class="card-body col-8">
						<strong><%= @user.name %></strong>さんのマイページ
					</div>
					<div class="card-body text-center col-4">
						<%= link_to "プロフィールを編集する", edit_user_path(current_user), class: "btn btn-success bnt-block" %>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						プロフィール<br/>
						<%= @user.profile %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div class="card shadow card-bg groove" style="margin-bottom:20px;">
				<div class="card-body">
					<%= link_to "投稿一覧", user_path(@user) %>
				</div>
				<% if @user == current_user %>
					<div class="card-body groove2">
						<% if @user.id == current_user.id %>
							<%= link_to "チャットルーム一覧",rooms_path %>
						<% else %>
						  <% if @isRoom == true %>
						    <p><a href="/rooms/<%= @roomId %>">このユーザーにメッセージを送る</a>
						  <% else %>
						    <%= form_for @room do |f| %>
						      <%= fields_for @entry do |e| %>
						        <%= e.hidden_field :user_id, :value=> @user.id %>
						      <% end %>
						      <%= f.submit "チャットを始める" %>
						    <% end %>
						  <% end %>
						<% end %>
					</div>
					<div class="card-body">
						<div>
							<%= link_to "お気に入り", favorites_path %>
						</div>
					</div>
				<% end %>
			</div>

			<%= render 'layouts/sidebar_new' %>

		</div>
		<div class="col-9">
			<div class="card card-border shadow">
				<div class="card text-center card-header">
					<h3 class="text-white">お気に入り</h3>
				</div>
				<div class="card-body">
					<% @favorites.each do |fav| %>
						<% idea = IdeaBoard.find(fav.idea_board_id) %>
							<div class="box box-head shadow" style="width:100%;">
								<div class="card-body">
									<table style="width:100%;">
										<tr>
											<td class="text-center" rowspan="2" style="width:20%;">
												<%= attachment_image_tag idea.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png", size:'100x100', class: "profile_image" %>
											</td>
											<td style="width:60%;">
												<h5><%= idea.user.name %></h5>
											</td>
											<td style="width:20%">
												<%= render 'favorites/like_button', idea_board: idea %>
											</td>
										</tr>
										<tr>
											<td>
												<span class="tag-box"><i class="fas fa-tag"></i>
													<%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
												</span>
											</td>
										</tr>
									</table>
								</div>
								<div>
									<div class="card-body">
										<%= link_to idea_board_path(idea) do %>
											<h5><%= idea.head %></h5>
										<% end %>
									</div>
									<div class="card-body">
										<%= idea.body %>
									</div>
								</div>
							</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>