<div class="container col-xl-6 col-12" style="margin-top:50px;">
	<div class="container col-10">
		<%= form_for(@user) do |f| %>
			 <table class="bg-white" border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;">

			 	<tr>
			 		<th><%= f.label :プロフィール画像 %></th>
            		<td bg-white><%= f.attachment_field :image %></td>
			 	</tr>

				<tr>
					<th><%= f.label :名前 %></th>
					<td><%= f.text_field :name, class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :メールアドレス %></th>
			        <td><%= f.email_field :email, autofocus: true, autocomplete: "メール", class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :自己紹介 %></th>
					<td><%= f.text_area :profile, class: "form-control" %></td>
				</tr>
				<tr>
					<td colspan="2"><%= f.submit "変更を確定する", class: "btn btn-primary btn-block" %></td>
				</tr>
			</table>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-7">
	</div>
	<div class="card-body">
		<%= link_to "アカウントを削除する", user_path(@user), class: "col-3", method: :delete, "data-confirm" => "本当に退会しますか？" %>
	</div>
</div>
