<div class="container">
	<div class="card-body col-12">
		<h3 class="text-center"><%= @idea_board.head %></h3>
	</div>
	<div class="row">
		<div class="col-8">
			<div class="box">
				<div class="card-head box-head">
					<table style="width:100%;">
						<tr>
							<td class="text-center" rowspan="2" style="width:20%;">
								<%= attachment_image_tag @idea_board.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png", size:'100x100', class: "profile_image" %>
							</td>
							<td style="width:60%;">
								<%= link_to user_path(@idea_board.user) do %>
									<h5><%= @idea_board.user.name %></h5>
								<% end %>
							</td>
							<td style="width:20%">
								<%= render 'favorites/like_button', idea_board: @idea_board %>
							</td>
						</tr>
					</table>
				</div>
				<div class="card-body">
						<span class="tag-box col-2"><%= raw @idea_board.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
						</span>
				</div>
				<div>
					<%= attachment_image_tag @idea_board, :image, :fill, 730, 487, format: 'jpeg', class: "img-fluid" %>
				</div>
				<div>
					<div class="card-body">
						<div class="card">
							<%= @idea_board.body %>
						</div>
					</div>
				</div>
			</div>
				<div class="card card-body mb-4">
					<%= form_for [@idea_board, @comment] do |f| %>
						<table style="width:100%" cellpadding="20">
					      	<tr>
						        <td class="text-center" style="width:20%"><%= attachment_image_tag @idea_board.user, :image, :fill, 75, 75, format: 'jpeg', fallback: "no_image.png", size:'75x75', class: "profile_image" %>
						        </td>
						        <td style="width:80%"><%= f.text_area :text, class: "form-control" %>
						        </td>
					      	</tr>
					      	<tr>
					      		<td class="text-center">
					      			<%= f.submit 'コメントを投稿する', class: "btn btn-outline-secondary" %>
					      		</td>
					      	</tr>
					     </table>
					<% end %>
				</div>
			<div class="comment-box">
				<h3 class="text-center">コメント一覧</h3>
				<% @comments.each do |comment| %>
					<div class="card card-body">
						<table style="width:100%" cellpadding="20">
					      	<tr>
						        <td class="text-center" style="width:20%"><%= attachment_image_tag comment.user, :image, :fill, 75, 75, format: 'jpeg', fallback: "no_image.png", size:'75x75', class: "profile_image" %>
						        </td>
						        <td style="width:80%"><%= comment.text %>
						        </td>
					      	</tr>
					      	<tr>
					      		<td class="text-center">
					      			<%= comment.user.name %>
					      		</td>
					      	</tr>
					     </table>
					</div>
				<% end %>
			</div>
		</div>


		<div class="col-4">
			<div class="card">
				<table cellpadding="10" style="width:100%">
					<tr>
						<th rowspan="2">
							<div class="text-center">
								<%= attachment_image_tag @idea_board.user, :image, :fill, 75, 75, format: 'jpeg', fallback: "no_image.png", size:'75x75', class: "profile_image" %>
							</div>
						</th>
						<td>
							<%= @idea_board.user.name %>
						</td>
					</tr>
					<tr>
						<td>
							<%= @idea_board.user.email %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>