<!DOCTYPE html>
<html>
  <head>
    <title>Thinkinity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <div class="header-head">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <%= image_tag '/images/logo.jpg', :size =>'250x250', class: "img-fluid" %>
            </div>
            <% if user_signed_in? %>
            <div class="col-6 my-auto">
              <div class="align-middle">
                <div class="row">
                  <div class="col-9 pr-0">
                    <%= search_form_for @search, url: idea_boards_path do |f| %>
                      <%= f.text_field :head_or_body_cont ,placeholder: '検索するテキストを入力...', class: "form-control" %>
                  </div>
                  <div class="col-3 pl-0">
                      <%= f.submit ("検索") , class: 'btn btn-block btn-secondary'%>
                  </div>
                </div>
                  <% end %>
              </div>
            </div>
            <div class="col-2 my-auto">
              <div class="align-middle">
                <button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal-option" class="btn btn-block btn-primary">
                  投稿
                </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="header-body">
        <div class="container">
          <nav class="navbar text-white navbar-expand-lg navbar-expand-lg navbar-dark">

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
              <div class="nav-content col-12">
                <div class="searchbox list-group list-group-horizontal nav-list col-12">
                <ul class="col-12 navbar-nav mr-auto">
                  <% if user_signed_in? %>
                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-user"></i>
                      <%= link_to "マイページ", user_path(current_user.id), class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-lightbulb"></i>
                      <%= link_to "新着", genres_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light border-right">
                      <i class="fas fa-book"></i>
                      <%= link_to "投稿一覧", idea_boards_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 dropdown">
                      <a class="nav-text nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false"><i class="far fa-folder-open text-white"></i>ジャンル</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <% @genres.each do |genre| %>
                          <%= link_to genre_path(genre.id) do %>
                            <p class="dropdown-item"><%= genre.genre_symbol %>
                            </p>
                          <% end %>
                        <% end %>
                      </div>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-book"></i>
                      <%= link_to "お気に入り", favorites_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 right-border my-auto border-left border-light border-right">
                      <i class="fas fa-sign-out-alt"></i>
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-text" %>
                    </li>
                  <% else %>
                      <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-home"></i>
                      <%= link_to "ホーム", root_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-info"></i>
                      <%= link_to "アバウト", home_about_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light">
                      <i class="fas fa-user-circle"></i>
                      <%= link_to "アカウント作成", new_user_registration_path, class: "nav-text" %>
                    </li>

                    <li class="list-inline-item nav-list-item col-lg-2 my-auto border-left border-light border-right">
                      <i class="fas fa-sign-in-alt"></i>
                      <%= link_to "ログイン", new_user_session_path, class: "nav-text" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <% if user_signed_in? %>
    <div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <%= form_for @idea_board do |f| %>
              <div class="modal-header">
                <h5 class="modal-title col-12" id="myModalOptionLabel">
                  <%= f.submit '投稿', class:"btn btn-secondary btn-block" %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="collapse_form">
                  <table style="width:100%">
                    <tr>
                      <td style="width:20%">
                        <%= f.label :ジャンル, class: "badge badge-secondary" %>
                      </td>
                      <td style="width:70%">
                        <%= f.collection_select :genre_id, Genre.all, :id, :genre_symbol, :prompt => "ジャンルを選択してください", class: "select" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= f.label :tag_list, :タグ, class: "badge badge-secondary" %>
                      </td>
                      <td>
                        <%= f.text_field :tag_list, value: @idea_board.tag_list.join(','), class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= f.label :head, :タイトル, class: "badge badge-secondary" %></td>
                      <td>
                        <%= f.text_field :head, class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= f.label :内容, class: "badge badge-secondary" %>
                      </td>
                      <td>
                        <%= f.text_area :body, class: "form-control" %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

    <%= yield %>

    <footer class="page-footer font-small pt-4">
      <div class="footer-head">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                      <i class="fas fa-home"></i>
                      <%= link_to "ホーム", root_path, class: "nav-text" %>
                  </div>
                </div>
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                    <% if user_signed_in? %>
                      <i class="fas fa-book"></i>
                      <%= link_to "アバウト", home_about_path, class: "nav-text" %>
                    <% else %>
                      <i class="fas fa-sign-in-alt"></i>
                      <%= link_to "ログイン", new_user_session_path, class: "nav-text" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                    <% if user_signed_in? %>
                      <i class="fas fa-sign-out-alt"></i>
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-text" %>
                    <% else %>
                      <i class="fas fa-user-circle"></i>
                      <%= link_to "アカウント作成", new_user_registration_path, class: "nav-text" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-foot text-center py-3 text-light">
        © Copyright:Thinkinity
      </div>
    </footer>
  </body>
</html>
