<!DOCTYPE html>
<html>
  <head>
    <title>Thinkinity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <div class="header-head">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'logo.jpg'%>
            </div>
            <div class="col-6">
              <div class="row" style="margin-top: 30px">
                <div class="col-10" style="padding-right: 0px">
                  <%= search_form_for @search, url: idea_boards_path do |f| %>
                    <%= f.text_field :head_cont ,placeholder: '検索するテキストを入力...', class: "form-control" %>
                </div>
                <div class="col-2" style="padding-left: 0px">
                    <%= f.submit ("検索") , class: 'btn btn-block btn-secondary'%>
                </div>
                  <% end %>
              </div>
            </div>
            <% if user_signed_in? %>
            <div class="col-2" style="margin-top: 30px">
              <button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal-option" class="btn btn-block btn-primary">
                投稿する
              </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="header-body">
        <div class="container">
          <nav class="navbar text-white">
            <div class="nav-content col-12">
              <div class="searchbox list-group list-group-horizontal nav-list col-12">
              <ul class="list-group list-group-horizontal nav-list col-12 text-center">
                <% if user_signed_in? %>
                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-home"></i>
                    <%= link_to "Top画面", root_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-info"></i>
                    <%= link_to "アバウト", home_about_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-user"></i>
                    <%= link_to "マイページ", user_path(current_user.id), class: "nav-text" %>
                    </%>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-book"></i>
                    <%= link_to "投稿一覧", idea_boards_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-lightbulb"></i>
                    <%= link_to "新着", genres_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2 right-border">
                    <i class="fas fa-sign-out-alt"></i>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-text" %>
                  </li>
                <% else %>
                    <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-home"></i>
                    <%= link_to "ホーム", root_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-info"></i>
                    <%= link_to "アバウト", home_about_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-book"></i>
                    <%= link_to "投稿一覧", idea_boards_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-lightbulb"></i>
                    <%= link_to "新着", genres_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item col-2">
                    <i class="fas fa-user-circle"></i>
                    <%= link_to "アカウント作成", new_user_registration_path, class: "nav-text" %>
                  </li>

                  <li class="list-inline-item nav-list-item right-border col-2">
                    <i class="fas fa-sign-in-alt"></i>
                    <%= link_to "ログイン", new_user_session_path, class: "nav-text" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <% if user_signed_in? %>
    <div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <%= form_for @idea_board do |f| %>
              <div class="modal-header">
                <h5 class="modal-title col-12" id="myModalOptionLabel">
                  <%= f.submit '投稿', class:"btn btn-secondary btn-block" %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="collapse_form">
                  <table style="width:100%">
                    <tr>
                      <td style="width:20%">
                        <%= f.label :ジャンル, class: "badge badge-secondary" %>
                      </td>
                      <td style="width:70%">
                        <%= f.collection_select :genre_id, Genre.all, :id, :genre_symbol, :prompt => "ジャンルを選択してください", class: "select" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= f.label :tag_list, :タグ, class: "badge badge-secondary" %>
                      </td>
                      <td>
                        <%= f.text_field :tag_list, value: @idea_board.tag_list.join(','), class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= f.label :head, :タイトル, class: "badge badge-secondary" %></td>
                      <td>
                        <%= f.text_field :head, class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= f.label :内容, class: "badge badge-secondary" %>
                      </td>
                      <td>
                        <%= f.text_area :body, class: "form-control" %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class=" card-body">
        <%= render 'layouts/flash_messages' %>
      </div>

    <%= yield %>

    <footer class="page-footer font-small pt-4">
      <div class="footer-head">
        <div class="container">
          <div class="row">
            <div class="col-5">
              <div class="row">
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                    <% if user_signed_in? %>
                      <i class="fas fa-lightbulb"></i>
                      <%= link_to "新着", genres_path, class: "nav-text" %>
                    <% else %>
                      <i class="fas fa-home"></i>
                      <%= link_to "ホーム", root_path, class: "nav-text" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                    <% if user_signed_in? %>
                      <i class="fas fa-book"></i>
                      <%= link_to "投稿一覧", idea_boards_path, class: "nav-text" %>
                    <% else %>
                      <i class="fas fa-sign-in-alt"></i>
                      <%= link_to "ログイン", new_user_session_path, class: "nav-text" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-4 mb-4 text-center">
                  <div class="text-light pt-3">
                    <% if user_signed_in? %>
                      <i class="fas fa-sign-out-alt"></i>
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-text" %>
                    <% else %>
                      <i class="fas fa-user-circle"></i>
                      <%= link_to "アカウント作成", new_user_registration_path, class: "nav-text" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-foot text-center py-3 text-light">
        © Copyright:Thinkinity
      </div>
    </footer>
  </body>
</html>
